# Dynamic Prompt
<img src="./assets/LC_DynamicPrompts.png" width="500">

## Setup

Load and/or check for needed environmental variables

In [1]:
from dotenv import load_dotenv
from env_utils import doublecheck_env

# Load environment variables from .env
load_dotenv()

# Check and print results
doublecheck_env(".env")

OPENAI_API_KEY=****here
LANGSMITH_API_KEY=****754b
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=****ials

In [2]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

In [3]:
from dataclasses import dataclass


@dataclass
class RuntimeContext:
    is_employee: bool
    db: SQLDatabase

In [4]:
from langchain_core.tools import tool
from langgraph.runtime import get_runtime

@tool
def execute_sql(query: str) -> str:
    """Execute a SQLite command and return results."""
    runtime = get_runtime(RuntimeContext)
    db = runtime.context.db

    try:
        return db.run(query)
    except Exception as e:
        return f"Error: {e}"

In [5]:
SYSTEM_PROMPT_TEMPLATE = """You are a careful SQLite analyst.

Rules:
- Think step-by-step.
- When you need data, call the tool `execute_sql` with ONE SELECT query.
- Read-only only; no INSERT/UPDATE/DELETE/ALTER/DROP/CREATE/REPLACE/TRUNCATE.
- Limit to 5 rows unless the user explicitly asks otherwise.
{table_limits}
- If the tool returns 'Error:', revise the SQL and try again.
- Prefer explicit column lists; avoid SELECT *.
"""

## Build a Dynamic Prompt
Utilize runtime context and middleware to generate a dynamic prompt.

In [6]:
from langchain.agents.middleware.types import ModelRequest, dynamic_prompt


@dynamic_prompt
def dynamic_system_prompt(request: ModelRequest) -> str:
    if not request.runtime.context.is_employee:
        table_limits = "- Limit access to these tables: Album, Artist, Genre, Playlist, PlaylistTrack, Track."
    else:
        table_limits = ""

    return SYSTEM_PROMPT_TEMPLATE.format(table_limits=table_limits)

Include middleware in `create_agent`.

In [7]:
from langchain_ollama import ChatOllama

llm = ChatOllama(model="qwen2.5-coder:7b", temperature=0.8)

In [8]:
from langchain.agents import create_agent

agent = create_agent(
    model=llm,
    tools=[execute_sql],
    middleware=[dynamic_system_prompt],
    context_schema=RuntimeContext,
)

In [9]:
question = "What is the most costly purchase by Frank Harris?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(is_employee=False, db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What is the most costly purchase by Frank Harris?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (8073cbd3-e624-4953-bc30-11efce8d287d)
 Call ID: 8073cbd3-e624-4953-bc30-11efce8d287d
  Args:
    query: SELECT T1.Title, T2.Price FROM Track AS T1 INNER JOIN Purchase AS T3 ON T1.TrackId = T3.TrackId INNER JOIN Customer AS T4 ON T3.CustomerId = T4.CustomerId INNER JOIN Album AS T5 ON T1.AlbumId = T5.AlbumId WHERE T4.FirstName = 'Frank' AND T4.LastName = 'Harris' ORDER BY T3.Total DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: Purchase
[SQL: SELECT T1.Title, T2.Price FROM Track AS T1 INNER JOIN Purchase AS T3 ON T1.TrackId = T3.TrackId INNER JOIN Customer AS T4 ON T3.CustomerId = T4.CustomerId INNER JOIN Album AS T5 ON T1.AlbumId = T5.AlbumId WHERE T4.FirstName = 'Frank' AND T4.LastName = 'Harris' ORDER BY T3.Total DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

It seems that there is no table named "Purchase" in the database. Let me try again with a different query.

{"name": "execute_sql", "parameters": {"query":"SELECT T1.Title, T2.UnitPrice * T3.Quantity FROM Track AS T1 INNER JOIN Album AS T5 ON T1.AlbumId = T5.AlbumId INNER JOIN InvoiceLine AS T3 ON T1.TrackId = T3.TrackId WHERE T5.ArtistId IN (SELECT ArtistId FROM Artist WHERE Name = 'Frank Harris')"}}

In [10]:
question = "What is the most costly purchase by Frank Harris?"

for step in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
    context=RuntimeContext(is_employee=True, db=db),
    stream_mode="values",
):
    step["messages"][-1].pretty_print()

================================ Human Message =================================

What is the most costly purchase by Frank Harris?
================================== Ai Message ==================================
Tool Calls:
  execute_sql (65f0d0df-3657-43e9-a83a-c3cdfb138760)
 Call ID: 65f0d0df-3657-43e9-a83a-c3cdfb138760
  Args:
    query: SELECT p.price, p.name FROM orders AS o JOIN purchases AS p ON o.id = p.order_id WHERE o.customer_name = 'Frank Harris' ORDER BY p.price DESC LIMIT 1
================================= Tool Message =================================
Name: execute_sql

Error: (sqlite3.OperationalError) no such table: orders
[SQL: SELECT p.price, p.name FROM orders AS o JOIN purchases AS p ON o.id = p.order_id WHERE o.customer_name = 'Frank Harris' ORDER BY p.price DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================

It seems that the table "orders" does not exist in the database.

Let me try again with a different query:

{"name": "execute_sql", "parameters": {"query":"SELECT price, name FROM purchases WHERE customer_name = 'Frank Harris' ORDER BY price DESC LIMIT 1"}}